.container {
  flex-grow: 1;
  flex-shrink: 0;
}
.bar_container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
  }

.bar {
    background-color: #ddd;
    width:100%;
    height:10px;
}
.bar_fill {
    background-color: #1c7eac;
    height: 10px;
  }