.submit_button {
    padding:10px 15px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    border: 0.0625rem solid transparent;
    background-color: #228be6;
    color: #fff;
}
.submit_button:hover {
    background-color: #2281d4;
}